<footer class="footer">
    <div class="container-fluid clearfix">
        
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
            © @DateTime.Now.Year | KnowledgeSharingNetwork. All Rights Reserved
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            Developer <a href="https://github.com/yahyaerdoan"
                         target="_blank">Yahya ERDOĞAN </a> Bootstrap Admin Templates from Bootstrapdash.com
        </span>
    </div>
</footer>