
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h1> Deneme </h1>
<h3> Burasaı yeni oluşturduğum sayfa </h3>
<table>
    <tr>
        <th> Id </th>
        <th> Ad </th>
        <th> Bölüm </th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yahya</td>
        <td>Erdoğan</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Yahya Kemal</td>
        <td>Erdoğan</td>
    </tr>
</table>
