@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Category>
@{ int i = 0;}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/AdministratorLayout.cshtml";
}


<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Kategoriler Listesi</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ibox-content">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kategori Adı</th>
                        <th>Kategori Açıklaması</th>
                        <th>Pasif</th>
                        <th>Aktif</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>

                            <th>@i</th>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            <td>
                                <a href="/Administrator/Categories/Delete/@item.CategoryId/"
                                   id="Delete" onclick="return confirm('Silmek istediğine emin misin?')"
                                   class="btn btn-outline-danger">Pasif Yap</a>
                            </td>
                            <td><a href="#" class="btn btn-outline-success">Aktif Yap</a></td>
                            <td><a href="#" class="btn btn-outline-primary">Düzenle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
        <a href="/Administrator/Categories/Add/" class="btn btn-outline-primary col-md-12">Yeni Kategori Ekle</a>
    </div>
</div>