
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/AdministratorLayout.cshtml";
}

<div class="col-lg-12">
    <h1 class="text-md-center">Yazar Ajax İşlemleri</h1>
    <h3><button type="button" id="btngetwriterlist" class="btn btn-outline-primary col-lg-12">Yazarlar Listesi</button></h3>
</div>
<div id="getwriterlist">

</div>
<div class="col-lg-12">
    <h3><button type="button" id="btngetwriterbyid" class="btn btn-outline-success col-lg-12">Yazarı Id ile Getir</button></h3>
    <input class="form-control" type="text" id="id" placeholder="görüntülemek için yazar id numarasını giriniz"/>
</div>
<div id="getwriterbyid">

</div>

@section scripts{
    <script>

        $("#btngetwriterlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Administrator/Writers/GetWriterList/",
                success: function (writers) {
                    let writer = jQuery.parseJSON(writers);
                    console.log(writer);
                    let writertable = `
                                                            <div class="col-lg-12">
                                                            <div class="ibox ">
                                                            <div class="ibox-title">
                                                            <h5>Yazarlar Listesi </h5>
                                                            <div class="ibox-tools">
                                                            <a class="collapse-link">
                                                            <i class="fa fa-chevron-up"></i>
                                                            </a>
                                                            </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                            <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                            <th>Yazar Id</th>
                                                            <th>Yazar Adı</th>
                                                            </tr>
                                                            </thead>`;
                    $.each(writer,
                        (index, value) => {
                            writertable += `

                                                            <tbody>
                                                            <tr>
                                                            <td>${value.Id}</td>
                                                            <td>${value.Name}</td>
                                                            </tr>
                                                            </tbody>`
                        });
                    writertable += `
                                                            </table>
                                                            </div>
                                                            </div>
                                                            </div>`;
                    $("#getwriterlist").html(writertable);
                }
            })
        })

        $("#btngetwriterbyid").click(x => {
            let id = $("#id").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                data: { id: id },
                url: "/Administrator/Writers/GetWriterById/",
                success: function (writers) {
                    let writer = jQuery.parseJSON(writers);
                    console.log(writer);
                    let writeridtable = `
                                                            <div class="col-lg-12">
                                                            <div class="ibox ">
                                                            <div class="ibox-title">
                                                            <h5>Id'ye Göre Listelenen Yazar </h5>
                                                            <div class="ibox-tools">
                                                            <a class="collapse-link">
                                                            <i class="fa fa-chevron-up"></i>
                                                            </a>
                                                            </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                            <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                            <th>Yazar Id</th>
                                                            <th>Yazar Adı</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                            <td>${writer.Id}</td>
                                                            <td>${writer.Name}</td>
                                                            </tr>
                                                            </tbody>
                                                            </table>
                                                            </div>
                                                            </div>
                                                            </div>`;
                    $("#getwriterbyid").html(writeridtable);
                }
            });
        })
    </script>
}
