
@{
    ViewData["Title"] = "BlogsTitleListExcel";
    Layout = "~/Areas/Administrator/Views/Shared/AdministratorLayout.cshtml";
}

<h1>BlogsTitleListExcel</h1>

<br />
<a class="btn btn-gradient-success" href="/Administrator/Blogs/ExportDynamicExcelBlogsList"> Excel Bloglar Listesini İndir!</a>
