
@{
    ViewData["Title"] = "BlogsListExcel";
    Layout = "~/Areas/Administrator/Views/Shared/AdministratorLayout.cshtml";
}

<h1>BlogsListExcel</h1>
<br />
<a class="btn btn-gradient-success" href="/Administrator/Blogs/ExportStaticExcelBlogsList"> Excel Bloglar Listesini İndir!</a>
